*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    min-width: 25px;
    background: url(Astronout.jpg) no-repeat;
    background-size: cover;  
    background-position: center;
}

.container{
    background: rgba(158, 157, 157, 0.363);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    width: 400px;
}

.calculator{
    background-color: transparent;
    border-radius: 15px;
    padding: 20px;
}

.calculator form input {
    border: 0;
    outline: 0;
    width: 80px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -5px -5px 15px rgba(red, green, blue, alpha);
    background: transparent;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin: 10px;

}